[Unit]
Description="Startup script"
RequiresMountsFor=/run/media/mmcblk0p2

[Service]
ExecStart=/usr/bin/startup-script
StandardOutput=journal+console
  
[Install]
WantedBy=multi-user.target
